services:
  api-gateway:
    build:
      context: .
      dockerfile: mock-apigw/Dockerfile
    depends_on:
      - lpa-codes
    ports:
      - "8080:8080"
    environment:
      LAMBDA_URL: http://lpa-codes:8080
      LOCAL_URL: http://dynamodb:8000
      AWS_ACCESS_KEY_ID: testing
      AWS_SECRET_ACCESS_KEY: testing #pragma: allowlist secret
      AWS_SECURITY_TOKEN: testing
      AWS_SESSION_TOKEN: testing
      AWS_DEFAULT_REGION: eu-west-1
    healthcheck:
      test: "wget --tries=1 --spider http://localhost:8080/v1/healthcheck"
      timeout: 2s
      start_period: 20s
      start_interval: 2s
      interval: 600s # high as to not interrupt active debug sessions

  lpa-codes:
    build:
      context: .
      dockerfile: Dockerfile
      target: debug
    ports:
      - "8081:8080"
      - "4040:4040"
    depends_on:
      dynamodb:
        condition: service_healthy
    environment:
      LOCAL_URL: http://dynamodb:8000
      ENVIRONMENT: local
      AWS_ACCESS_KEY_ID: testing
      AWS_SECRET_ACCESS_KEY: testing #pragma: allowlist secret
      AWS_SECURITY_TOKEN: testing
      AWS_SESSION_TOKEN: testing
      AWS_DEFAULT_REGION: eu-west-1

  dynamodb:
    image: amazon/dynamodb-local:latest@sha256:7ef4a2c45b58c2901e70a4f28e0953a422c2c631baaaf5e2c15e0805740c7752
    entrypoint: java
    command: "-jar DynamoDBLocal.jar -sharedDb -inMemory"
    ports:
      - "8000:8000"
    healthcheck:
      test: "curl -q http://localhost:8000"
      interval: 5s
      retries: 6
      timeout: 5s

  pact-verifier:
    image: pactfoundation/pact-ref-verifier@sha256:514b680cd0ad2fa95c6df7a541e3b03c8dd1176de26e84e58a349de96e305bce
    depends_on:
      api-gateway:
        condition: service_healthy
    entrypoint:
      - pact_verifier_cli
      - --hostname=api-gateway
      - --port=8080
      - --base-path=/
      - --broker-url=https://pact-broker.api.opg.service.justice.gov.uk/
      - --provider-name=data-lpa-codes
      - --state-change-url=http://api-gateway:8080/_pact_state
