pytest
flake8
flake8-quotes
click
Flask
flask-lambda
flask-lambda-python36
itsdangerous
Jinja2
MarkupSafe
python-dotenv
Werkzeug
openapi-spec-validator
requests
boto3
moto
pytest-cases==1.17.0
pytest-cov
pytest-ordering
pytest-env
freezegun
