---
permissions:
  actions: read
  checks: read
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: write
  statuses: none

on:
  workflow_call:

jobs:
  functional_tests:
    name: Run functional tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        id: checkout_code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '^1.25'
          cache-dependency-path: '**/go.sum'

      - name: Run Functional Tests
        id: functional_tests
        run: |
          make test
        env:
          AWS_ACCESS_KEY_ID: testing
          AWS_SECRET_ACCESS_KEY: testing #pragma: allowlist secret
          AWS_SECURITY_TOKEN: testing
          AWS_SESSION_TOKEN: testing
          AWS_DEFAULT_REGION: eu-west-1

