---
permissions:
  actions: read
  checks: read
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: write
  statuses: none

on:
  workflow_call:

jobs:
  functional_tests:
    name: Run functional tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        id: checkout_code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '^1.25'
          cache-dependency-path: '**/go.sum'

      - name: Run Functional Tests
        id: functional_tests
        run: |
          make test
        env:
          AWS_ACCESS_KEY_ID: testing
          AWS_SECRET_ACCESS_KEY: testing #pragma: allowlist secret
          AWS_SECURITY_TOKEN: testing
          AWS_SESSION_TOKEN: testing
          AWS_DEFAULT_REGION: eu-west-1

