on:
  workflow_call:
    inputs:
      workspace:
        description: 'Workspace to use'
        required: true
        type: string
    secrets:
      aws_access_key_id_actions:
        required: true
      aws_secret_access_key_actions:
        required: true

jobs:
  terraform_workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: '0'

      - name: Configure AWS Credentials For Terraform
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838 # v5.0.0
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id_actions }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key_actions }}
          aws-region: eu-west-1
          role-duration-seconds: 3600
          role-session-name: OPGLPACodesIntegrationTests

      - name: Install dependencies
        env:
          ROLE: integrations-ci
          TF_WORKSPACE: ${{ inputs.workspace }}
        working-directory: scripts/ci_pipeline/load_testing
        run: |
          if [ "${TF_WORKSPACE}" == "development" ]
            then
              echo "Running against development"
              export BRANCH="dev"
              export ACCOUNT="288342028542"
            else
              echo "Running against branch environment"
              export BRANCH="${TF_WORKSPACE}.dev"
              export ACCOUNT="288342028542"
            fi
            go run load_testing.go
